h1{
    color:black; 
    font-size:xx-large; 
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid black;
    padding: 10px;
}
th{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
    border: 2px solid black;
    padding:10px;
}
td{
    padding-top: 20px;
    padding-bottom: 20px;
}
a{
    color:black;font-weight:bold;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgba(228, 225, 225, 0.479);
    margin: .5em;
    padding: .5em .5em;
    height: 1.8em;
    border-radius: 3px;
    border: 2px solid black;
}
a:hover{
    color: red;
    background-color: grey;
    left: .1;
    border-color: red;
}
table {
    border: 3px solid black; padding:10px;
    align-content: center;
    background-color: pink;
}
